*.log
*.pot
*.pyc
__pycache__
app/db.sqlite3
app/media
app/tracker/.env
app/.idea
.tracker

.idea
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

.idea/**/contentModel.xml

